/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent .01px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent .01px);
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 0;
}

/* Light Mode Styles */
.light-mode {
  background-color: #e0e0e0;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent .01px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent .01px);
  background-size: 40px 40px;
  color: black;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #333333;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent .01px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent .01px);
  background-size: 40px 40px; /* Set the background size for larger screens */
  color: white;
}

.Navbar {
  float: left;
  display: block;
  width: 100%;
  height: 45px;
  position: sticky;
  z-index: 1;
}

.light-mode .Navbar {
  background-color: #f0f0f0;
  color: black;
}

.dark-mode .Navbar {
  background-color: #040404;
  color: white;
}

.Navbar a {
  text-decoration: none;
  margin: 20px;
  position: relative;
  left: 37%;
  top: 9px;
  font-size: 18px;
  font-weight: 650;
}

.light-mode .Navbar a {
  color: black;
}

.dark-mode .Navbar a {
  color: white;
}

.Navbar p {
  position: absolute;
  top: 7px;
  left: 8px;
  font-size: 22px;
  font-weight: 750;
}

.light-mode .Navbar button{
  color: black;
}

.dark-mode .Navbar button{
  color: white;
}

.FormContainer {
  position: fixed;
  margin-top: 90px;
  width: 100%;
  height: 75px;
  backdrop-filter: blur(3px);
}

.light-mode .FormContainer {
  background-color: rgba(255, 255, 255, 0);
  color: black;
}

.dark-mode .FormContainer {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

/* Secondary Styles */
.Secondary h1 {
  font-size: 32px;
  margin-bottom: 0px;
  text-align: center;
  position: fixed;
  top: 170px;
  left: 38%;
  z-index: 1;
}

.Secondary th Button {
  margin-top: 100px;
  border: none;
  border-radius: 50%;
}

.dark-mode .Secondary th Button{
  background-color: white;
  color: black;
}

.light-mode .Secondary th Button{
  background-color: rgba(0, 0, 0, 0.488);
  color: white;
}

.Secondary td button{
  position: relative;
  top: 0px;
  font-size: small;
}

.dark-mode .Secondary td Button{
  color: white;
}

.light-mode .Secondary td Button{
  color: rgb(62, 62, 62);
}

/* Dialog Styles */
.Dialog{
  width: 50;
  height: 440px;
  background-color: rgb(94, 93, 93);
  color: white;
}

.light-mode .Dialog {
  background-color: #e0e0e0; 
  color: black;
}

.dark-mode .Dialog  {
  background-color: #333333; 
  color: white;
}

.Title {
  position: relative;
  top: 30px;
  left: 0px;
}

.Dialog button{
  color: white;
  font-weight: 600;
  position: relative;
  top: 70px;
}

/* Table Styles */
.TableContainer{
  position: relative;
  top: 165px;
  height: 500px;
  z-index: 0;
}

.dark-mode .TableContainer  {
  background-color: #333333;
  color: white;
}

.light-mode .TableContainer {
  background-color: #e0e0e0;
  color: black;
}

/* .ModalContainer.dark-mode  {
  background-color: #333333;
  color: white;
}

.ModalContainer.light-mode  {
  background-color: #e0e0e0;
  color: black;
} */

.EntriesTable {
  width: 42%;
  border-collapse: collapse;
  margin-top: 20px;
  position: relative;
  left: 29%;
}

.EntriesTable th{
  padding: 8px;
  text-align: left;
  position: relative;
  top: 50px;
}

.dark-mode .EntriesTable th{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.light-mode .EntriesTable th{
  border-bottom: 2px solid rgba(21, 21, 21, 0.2);
}

.EntriesTable td{
  padding: 2px 8px;
}

.light-mode .EntriesTable td{
  background-color: #d0cfcf;
  border-bottom: 2px solid rgba(21, 21, 21, 0.2);
}

.dark-mode .EntriesTable td{
  background-color: #484848;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.EntriesTable th button {
  position: relative;
  bottom: 46px;
  left: 10px;
}

.EntriesTable td button {
  position: relative;
  left: 0px;
}

.btn button{
  margin: 10px;
  position: relative;
  left: 42%;
  border-radius: 30px;
  outline: none;
  padding: 2px 15px;
}

.dark-mode .btn button{
  background-color: white;
  color: black;
}

.light-mode .btn button{
  background-color: rgba(0, 0, 0, 0.488);
  color: white;
}