/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent .01px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent .01px);
  position: fixed; 
  width: 100%; 
  height: 100%; 
  z-index: 0;
}

/* Light Mode Styles */
.light-mode {
  background-color: #e0e0e0;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent .01px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent .01px);
  background-size: 40px 40px;
  color: black;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #333333;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent .01px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent .01px);
  background-size: 40px 40px; 
  color: white;
}

.Navbar {
  float: left;
  display: block;
  width: 100%;
  height: 45px;
  position: sticky;
  z-index: 1;
}

.light-mode .Navbar {
  background-color: #f0f0f0;
  color: black;
}

.dark-mode .Navbar {
  background-color: #040404;
  color: white;
}

.Navbar a {
  text-decoration: none;
  margin: 20px;
  position: relative;
  left: 37%;
  top: 9px;
  font-size: 18px;
  font-weight: 650;
}

.light-mode .Navbar a {
  color: black;
}

.dark-mode .Navbar a {
  color: white;
}

.Navbar p {
  position: absolute;
  top: 7px;
  left: 8px;
  font-size: 22px;
  font-weight: 750;
}

.light-mode .Navbar button{
  color: black;
}

.dark-mode .Navbar button{
  color: white;
}

.FormContainer {
  position: fixed;
  margin-top: 90px;
  width: 100%;
  height: 75px;
  padding: 15px;
  backdrop-filter: blur(3px);
}

.light-mode .FormContainer {
  background-color: rgba(255, 255, 255, 0);
  /* color: black; */
}

.dark-mode .FormContainer {
  background-color: rgba(0, 0, 0, 0);
  /* color: white; */
}

/* Secondary Styles */
.Secondary h1 {
  font-size: 32px;
  margin-bottom: 0px;
  text-align: center;
  position: fixed;
  top: 170px;
  left: 38%;
  z-index: 1;
}

.Secondary th Button {
  margin-top: 90px;
  border: none;
  border-radius: 30px;
  padding: 3px;
  position: relative;
  bottom: 46px;
}

.dark-mode .Secondary th Button{
  background-color: white;
  color: black;
}

.light-mode .Secondary th Button{
  background-color: rgba(0, 0, 0, 0.488);
  color: white;
}


/* Table Styles */
.TableContainer{
  position: relative;
  top: 163px;
  height: 600px;
  z-index: 0;
}

.dark-mode .TableContainer  {
  background-color: #333333;
  color: white;
}

.light-mode .TableContainer {
  background-color: #e0e0e0;
  color: black;
}


.EntriesTable {
  width: 50%; 
  border-collapse: collapse;
  position: relative;
  left: 29%;
}

.EntriesTable th{
  padding: 8px;
  text-align: left;
  position: relative;
  top: 50px;
}

.dark-mode .EntriesTable th{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.light-mode .EntriesTable th{
  border-bottom: 2px solid rgba(21, 21, 21, 0.2);
}

.EntriesTable td{ 
  padding: 0px  8px;
}

.light-mode .EntriesTable td{
  background-color: #d0cfcf;
  border-bottom: 2px solid rgba(21, 21, 21, 0.2);
}

.dark-mode .EntriesTable td{
  background-color: #484848;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}


.btn button{
  margin: 10px;
  /* position: relative; */
  left: 42%;
  bottom: 40px;
  border-radius: 30px;
  outline: none;
  padding: 2px 15px;
}

.dark-mode .btn button{
  background-color: white;
  color: black;
}

.light-mode .btn button{
  background-color: rgba(0, 0, 0, 0.488);
  color: white;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .Navbar a {
    left: 35%;
  }
  .Secondary h1 {
    left: 36%;
  }
  .EntriesTable {
    width: 50%;
    left: 25%;
  }
  .btn button {
    left: 41%;
  }
}


@media (max-width: 884px) {
  .Navbar a {
    left: 30%;
    font-size: 16px;
  }
  .FormContainer{
    height: 200px;
  }
  .TableContainer{
    height: 1050px;
    top: 220px;
  }
  .Secondary h1 {
    left: 33%;
    font-size: 28px;
    margin-top: 70px;
  }
  .EntriesTable {
    width: 70%;
    left: 15%;
  }
  .btn button {
    left: 38%;
    bottom: 120px;
  }
}

@media (max-width: 768px) {
  .Navbar a {
    left: 30%;
    font-size: 14px;
  }
  .TableContainer{
    height: 800px;
  }
  .Secondary h1 {
    left: 33%;
    font-size: 28px;
  }
  .EntriesTable {
    width: 80%;
    left: 10%;
  }
  .btn button {
    left: 40%;
  }
}

@media (max-width: 430px) {
  .Navbar a {
    font-size: 13px;
    left: 28%;
    margin: 10px;
  }
  .FormContainer{
    height: 200px;
  }
  .TableContainer{
    height: 700px;
    top: 270px;
  }
  .Secondary h1 {
    left: 21%;
    font-size: 22px;
    margin-top: 115px;
  }
  .EntriesTable{
    top: -50px;
  }
  .EntriesTable th {
    font-size: 7px;
    left: -5px;
  }
  .EntriesTable td{ 
    padding: 0px 4px;
    font-size: 8px;
  }
  .btn button {
    left: 26%;
    top: 0px;
  }
}