/* General Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 0.01px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 0.01px);
  /* position: fixed;  */
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Light Mode Styles */
.light-mode {
  background-color: #e0e0e0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 0.01px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 0.01px);
  background-size: 40px 40px;
  color: black;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #333333;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 0.01px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 0.01px);
  background-size: 40px 40px;
  color: white;
}

/* hamburger */
a {
  text-decoration: none;
}

.dark-mode a{
  color: white;
}

.light-mode a{
  color: black;
}

/* Navbar */
.Navbar {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  position: sticky;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light-mode .Navbar {
  background-color: #f0f0f0;
  color: black;
}

.dark-mode .Navbar {
  background-color: #040404;
  color: white;
}

.NavbarLeft {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.Navbar a {
  text-decoration: none;
  margin: 0 20px;
  font-weight: 650;
  justify-content: center;
}

.light-mode .Navbar a {
  color: black;
}

.dark-mode .Navbar a {
  color: white;
}

.Navbar p {
  margin: 0;
  padding-left: 8px;
  font-size: 22px;
  font-weight: 750;
}

.Navbar Button {
  margin-right: 10px;
}


/* Form Fields */
.FormContainer {
  backdrop-filter: blur(3px);
}

.light-mode .FormContainer {
  background-color: rgba(255, 255, 255, 0);
}

.dark-mode .FormContainer {
  background-color: rgba(0, 0, 0, 0);
}

/* dialog box open/close button (add button) */
.TableBackground th Button {
  border: none;
  border-radius: 30px;
  padding: 3px;
}

.dark-mode .TableBackground th Button {
  background-color: white;
  color: rgb(0, 0, 0);
}

.light-mode .TableBackground th Button {
  background-color: rgba(0, 0, 0, 0.488);
  color: white;
}

/* Table */
.TableBackground {
  height: 560px;
  z-index: 0;
  width: 100%;
}

.dark-mode .TableBackground {
  background-color: #333333;
  color: white;
}

.light-mode .TableBackground {
  background-color: #e0e0e0;
  color: black;
}

h1 {
  margin-top: 20px;
}

th {
  padding: 5px 20px;
  position: sticky;
  top: 0;
  z-index: 2;
  white-space: nowrap;
}

.dark-mode th {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #333333;
}

.light-mode th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #e0e0e0;
}

td {
  padding: 5px 20px;
}

.dark-mode td {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgb(63, 61, 61);
}

.light-mode td {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(205, 203, 203);
}

/* button */
.btn button {
  margin: 10px;
  
  border-radius: 30px;
  outline: none;
  padding: 2px 15px;
}

.dark-mode .btn button {
  background-color: white;
  color: black;
}

.light-mode .btn button {
  background-color: rgba(0, 0, 0, 0.488);
  color: white;
}

/* Media Queries for Responsive Design */
@media (max-width: 430px) {
  .Navbar a {
    font-size: 13px;
    left: 28%;
    margin: 10px;
  }
  h1 {
    font-size: 22px;
  }
  th {
    padding: 2px 20px;
    font-size: 15px;
    white-space: nowrap;
  }
  td {
    padding: 2px 20px;
    font-size: 15px;
    white-space: nowrap;
  }
}
